<?xml version="1.0"?><!-- Automation Test Version 1.1.3 -->
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" parallel="false">
<parameter name="browser" value="chrome"/>
<parameter name="filePath" value="/usr/bin/google-chrome"/>
<parameter name="url" value="http://qa.8pnds.com/login.html"/>
<parameter name="platform" value="Any"/>
<parameter name="type" value="Remote"/>
<parameter name="hubAddress" value="localhost"/>
<parameter name="userName" value="bil/ctribin"/>
<parameter name="password" value="ctribin1"/>
<parameter name="waitingTime" value="30"/>

 <test name="Unity">
    <classes>
     <class name="tests.HappyPathTest">
     </class>

    </classes>

  </test>
</suite> <!-- Suite -->
